<div class="container mt-4">
  <h3 class="mb-3">Add person</h3>

  <form [formGroup]="userForm" class="row g-3">
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First name" />
    </div>

    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last name" />
    </div>

    <div class="col-md-6">
      <label for="dob" class="form-label">Date of Birth</label>
      <input id="dob" formControlName="dob" type="date" class="form-control" />
    </div>

    <div class="col-md-6">
      <label for="qualification" class="form-label">Qualification</label>
      <select id="qualification" formControlName="qualification" class="form-select">
        <option value="">Choose...</option>
        <option>High School</option>
        <option>Bachelor</option>
        <option>Master</option>
        <option>PhD</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="submitFrom()" [disabled]="userForm.invalid">Add</button>
    </div>
  </form>

</div>

<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Occupation</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (item of persons; track item; let i = $index) {
      <tr>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.dob}}</td>
        <td>{{item.qualification}}</td>
        <!-- <td><button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" (click)="selectForEdit(i)">
            Edit
          </button>
          <button class="btn btn-sm btn-danger ms-2" (click)="delete(i)">Delete</button>
        </td> -->
        <td>
          <button class="btn btn-sm btn-outline-primary" title="Edit" aria-label="Edit" data-bs-toggle="modal"
            data-bs-target="#editModal" (click)="selectForEdit(i)">
            <i class="bi bi-pencil"></i>
          </button>

          <button class="btn btn-sm btn-outline-danger ms-2" title="Delete" aria-label="Delete" (click)="delete(i)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      }

    </tbody>

  </table>

  <!-- Bootstrap edit modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="editForm">
          <div class="modal-header">
            <h5 class="modal-title">Edit person</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input formControlName="firstName" class="form-control" />
            </div>

            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input formControlName="lastName" class="form-control" />
            </div>

            <div class="mb-3">
              <label class="form-label">Date of Birth</label>
              <input type="date" formControlName="dob" class="form-control" />
            </div>

            <div class="mb-3">
              <label class="form-label">Qualification</label>
              <select formControlName="qualification" class="form-select">
                <option value="">Choose...</option>
                <option>High School</option>
                <option>Bachelor</option>
                <option>Master</option>
                <option>PhD</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveEdit()">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>